
.icon-icons8-x:before { content: '\e800'; } /* '' */
.icon-icons8-facebook:before { content: '\e801'; } /* '' */
.icon-icons8-youtube:before { content: '\e802'; } /* '' */
.icon-icons8-tiktok:before { content: '\e803'; } /* '' */
.icon-icons8-instagram:before { content: '\e804'; } /* '' */
.icon-icons8-instagram-p:before { content: '\e805'; } /* '' */
.icon-icons8-phone-p:before { content: '\e806'; } /* '' */
.icon-icons8-linkedin-p:before { content: '\e807'; } /* '' */
.icon-icons8-github-p:before { content: '\e808'; } /* '' */
